{% extends 'base.html' %}
{% load static %}
{% block title %}Yordam |{% endblock title %}
{% block content %}

<main class="bg-[#E0E0EC] pt-24 pb-24 lg:pt-16 px-3 min-h-[84vh]">
    <div class="container mx-auto">
        <h1 class="text-4xl">1. Qoidalar:</h1>
        <ul class="list-disc ml-7">
            <li class="text-lg my-2">Yuklanyatgon rasmlar 500kb dan past bolishi.</li>
            <li class="text-lg my-2">Be'manilashmaslik.</li>
        </ul>
        <h1 class="text-4xl mt-7">2. Ish qoshish:</h1>
        <p class="text-lg mt-1">Birinchi bo'lib o'ng tarafda joylashgan profilga bosamiz.</p>
        <img class="h-full shadow-[0_7px_29px_0px_rgba(100, 100, 111, 0.2)] rounded-xl my-3 w-full"
            src="{% static './img/profile.jpg' %}" alt="">
        <p class="text-lg mt-10">Kegin ish qoshishga bosamiz</p>
        <img class="h-full shadow-[0_7px_29px_0px_rgba(100, 100, 111, 0.2)] rounded-xl my-3 w-full"
            src="{% static './img/add_work.jpg' %}" alt="">
        <p class="text-lg mt-10">Va ishlarni qoshamiz.</p>
        <img class="h-full shadow-[0_7px_29px_0px_rgba(100, 100, 111, 0.2)] rounded-xl my-3 w-full"
            src="{% static './img/create-work.jpg' %}" alt="">

    </div>
</main>
{% endblock content %}

{% block script %}
<script src="{% static 'js/tailwind.js' %}"></script>
{% endblock script %}